<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<div class="parent">
    <div class="child">
        <header>
            <h1>Make Your Poster</h1>
        </header>
  
        <div class="input_form row">
            
            <div class="form-group"> 
            
                <input type="text" class="form-control" id="title" placeholder="Title" name="title">
            
            </div>
            
            <div class="form-group">
            
                <textarea type="text" class="form-control" id="detail" placeholder="Detail" name="detail"></textarea>
            
            </div>
            
            <div class="form-group">
            
                <input type="text" class="form-control" id="address" placeholder="Address" name="address">
            
            </div>
            
            <div class="form-group">
            
                <%= simple_form_for @hpost,remote:true, html: {multipart: true} do |f| %>
            
                    <div class="field">
            
                        <%= f.input :picture, as: :file %>
            
                        <%= f.hidden_field :picture_cache %>
            
                    </div>
            
                    <%= f.hidden_field :htmltag ,value:"",id:"htmltag" %>
            
                    <br>
            
                    <div class="actions">
            
                        <%= f.submit id:"submit_poster" %>
            
                    </div>
            
                    <a href="/hposts/<%=@hpost.id%>">완 료</a>
                <% end %>
            
            </div>
        
        </div>
    
    </div>
    

  <!-- 오른쪽 poster -->
    <div class="child" id="here">
        <div class="poster" id="html-content-holder"> 
            <div id = "pt_title"></div>
            <div id = "pt_picture">
                <form runat="server">
                    <img id="pt_picture_input" src="#"/>
                </form>
            </div>
            <div id = "pt_detail"></div>
            <div id = "pt_address"></div>
        </div>
    </div>
    
</div>
<a id="btn-Convert-Html2Image" href="#" ></a>
<button type="submit" class="btn-EditSubmit">Submit</button>

 

<script>
  


// <!-- 실시간으로 input 값이 입력 되는 script -->
      $('#title').keyup(function (){
        $('#pt_title' , "div" ).empty();
        $('#pt_title').append("<div>"+document.getElementById("title").value+"</div>");
      });
      
      $('#detail').keyup(function (){
        $('#pt_detail' , "div" ).empty();
        $('#pt_detail').append("<div>"+document.getElementById("detail").value+"</div>");
      });
      
      $('#address').keyup(function (){
        $('#pt_address' , "div" ).empty();
        $('#pt_address').append("<div>"+document.getElementById("address").value+"</div>");
      });
      $("body").mousedown(function(){    
        $("#htmltag").val($("#here").html())
      });
      
  
    $("#hpost_picture").change(function(){
      $('#submit_poster').trigger('click');
    });
    
    
    // if (input.files && input.files[0]) {
    //     var reader = new FileReader();
    //     reader.onload = function (e) {
    //         $('#pt_picture_input').attr('src', e.target.result);
    //     }
    //     reader.readAsDataURL(input.files[0]);
    //     }
    //   }

});
</script>