<head>
  <!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <!--이미지 변환/저장 -->
  <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <!-- 폰트 색상 script--> 
  <script src="jscolor.js"></script>  
  
  <script>

  //이미지저장 + 실시간입력
  $(document).ready(function(){

    //<!-- div 이미지로 변환 및 저장 script-->
    var element = $("#html-content-holder"); // global variable
    var getCanvas; // global variable
          html2canvas(element, {
             onrendered: function (canvas) {
                    $("#html_content_holder").append(canvas);
                    getCanvas = canvas;
                 }
             });
             
    	$("#btn-Convert-Html2Image").on('click', function () {
        var imageData = getCanvas.toDataURL("image/png");
        // Now browser starts downloading it instead of just showing it
        var newData = imageData.replace(/^data:image\/png/, "data:application/octet-stream");
        $("#btn-Convert-Html2Image").attr("download", "your_pic_name.png").attr("href", newData);
    	});


      //<!-- 실시간으로 input 값이 입력 되는 script -->
      
        $('#title').keyup(function (){
        $('#pt_title' , "div" ).empty();
        $('#pt_title').append("<div>"+document.getElementById("title").value+"</div>")});
        
        $('#detail').keyup(function (){
        $('#pt_detail' , "div" ).empty();
        $('#pt_detail').append("<div>"+document.getElementById("detail").value+"</div>")});
        
        $('#address').keyup(function (){
        $('#pt_address' , "div" ).empty();
        $('#pt_address').append("<div>"+document.getElementById("address").value+"</div>")});
    // ?
        $("#hpost_picture").change(function(){
          $('#submit_poster').trigger('click');
        });
   });  //이미지저장 끄읏
  
  
    //폰트설정
       function editOption() {
         var size=15;
         var select=$("div.select");
         
          // 글자 크기의 버튼들을 클릭했을 때
          $(".zoom button").on("click",function(){
              var btn_index=$(".zoom button").index(this);  //클릭한 버튼의 인덱스 반환
              
              if(btn_index==0){ //"+"를 클릭했을 경우
                 size++; //size가 1씩 증가
                 select.css("font-size",size+"px"); //글자 크기 속성이 변경됨. 
              }else if(btn_index==2){ //"-"를 클릭했을 경우
                 size--; //size가 1씩 감소
                 select.css("font-size",size+"px"); //글자 크기 속성이 변경됨.
              }else{ //"0"를 클릭했을 경우
                 size=12; //디폴트로 다시 세팅
                 select.css("font-size","12px"); //글자 크기 속성이 12px로 변경됨.
              }
              $("#lbl_fontsize").text(size); //글자크기 출력
          });
    
    
          // 글자 모양을 선택했을 때 (폰트 변경)
          $("#fs").on("change",function(){
            select.css("font-family",$(this).val()); //글자 모양 변경
          });
          
          
          // 색상
      };





// 생각생각을 해봅시다!!
// 그니까 지금 하려는게 
// 클릭 시 -> 아래 하단에 띄우기
// 하단에 띄우는 것은 bottom 인데
// 이 때 클릭시에 bottom 내부에 render (option.render)가 들어가게 하는 것!!! 이렇게 해야 오류가 안난다고ㅠㅠㅠ히우ㅜㅎ잏이

// 그리고 이 div에 마우스를 올리면,
// class에 select를 추가해서 요소변경할 수 있도록 연결하는데

// 여기서 지금은 폰트만 되고 / 색은 안됨 (아마 changeEdit 함수 건드려야 하지 않나 생각중)


  $(document).ready(function(){
      $('.top').on('click', function() {
      	$parent_box = $(this).closest('.box');
      	$parent_box.siblings().find('.bottom').slideUp();
      	$parent_box.find('.bottom').slideToggle(1000, 'swing');
      });
      
      
      $('.numb3 .bottom').hover(                                                      //bottom 마우스오버 때
          function(){$("#pt_address").addClass('select');
                    editOption();
                    },             
          function(){$("#pt_address").removeClass('select');}                 //  마우스아웃 때, select 제거
      ); 
      
      
//위에 render문제가 해결이 되면, 이거는 numb1 -> pt_title / numb2 -> pt_detail / numb3 -> pt_address로 연결 시키면 될듯
      
  });

      
    </script>
</head>



<div class="parent">
  <div class="child">
      <header>
        <h1>Make Your Poster</h1>
      </header>
      
      <div class="input_form row">
        
          <div class="form-group box"> <!-- form group은 한 줄 / for inline은 같은 줄 -->
              <label class="sr-only" for="title">Title</label>
              <input type="text" class="top form-control" id="title" placeholder="Title" name="title" autocomplete="off">
              <div class="bottom">
                    g <%= render "option" %>
              </div>
          </div>
        
          <div class="form-group box">
              <label class="sr-only" for="detail">Detail</label>
              <textarea type="text" class="top form-control" id="detail" placeholder="Detail" name="detail" autocomplete="off"></textarea>
              <div class="bottom">
                    ㅂ <%= render "option" %>
              </div>
          </div>
          
          <div class="numb3 form-group box">
              <label class="sr-only" for="address">Address</label>
              <input type="text" class="top form-control" id="address" placeholder="Address" name="address" autocomplete="off">
              <div class="bottom">
                  <%= render "option" %>
              </div>
          </div>
          
          <div class="form-group">
               <label class="sr-only" for="pic">pic</label>
                <%= simple_form_for @hpost,remote:true, html: {multipart: true} do |f| %>
                  <div class="field">
                      <%= f.input :picture, as: :file %>
                      <%= f.hidden_field :picture_cache %>
                  </div>
                <%= f.hidden_field :htmltag ,value:"",id:"htmltag" %>
                  <br>
                  <div class="actions">
                    <%= f.submit value:"헤헿" ,id:"submit_poster" %>
                  </div>
                <% end %>
           </div>
         
      </div> <!-- input_form row -->
  </div> <!-- child -->
    
    

  <!-- 오른쪽 poster -->
  <div class="child" id="here">
    <div class="poster" id="html-content-holder"> 
        <div id = "pt_title">
        </div>
        
        <div id = "pt_picture">
           <form runat="server">
            <img id="pt_picture_input" src="#"/>
           </form>
        </div>
          
        <div id = "pt_detail">
        </div>
        
        <div id = "pt_address">
        </div>
    </div>
  
    <a id="btn-Convert-Html2Image" href="#" >이미지 저장</a>
    <button type="submit" class="btn-EditSubmit">Submit</button>
  </div> <!-- child -->

</div>  <!-- parent / end -->

