<head>
  <!-- ajax -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <!--이미지 변환/저장 -->
  <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- 폰트 색상 script--> 
  <script src="/assets/jscolor.js"></script>  
  
  <script>
//이미지저장 + 실시간입력
  $(document).ready(function(){

    //<!-- div 이미지로 변환 및 저장 script-->
    var element = $("#html-content-holder"); // global variable
    var getCanvas; // global variable
          html2canvas(element, {
             onrendered: function (canvas) {
                    $("#html_content_holder").append(canvas);
                    getCanvas = canvas;
                 }
             });
             
    	$("#btn-Convert-Html2Image").on('click', function () {
        var imageData = getCanvas.toDataURL("image/png");
        // Now browser starts downloading it instead of just showing it
        var newData = imageData.replace(/^data:image\/png/, "data:application/octet-stream");
        $("#btn-Convert-Html2Image").attr("download", "your_pic_name.png").attr("href", newData);
    	});


      //<!-- 실시간으로 input 값이 입력 되는 script -->
      
        $('#title').keyup(function (){
            $('#pt_title' , "div" ).empty();
            $('#pt_title').append("<div>"+document.getElementById("title").value+"</div>")});
        
        $('#detail').keyup(function (){
            $('#pt_detail' , "div" ).empty();
            $('#pt_detail').append("<div>"+document.getElementById("detail").value+"</div>")});
        
        $('#address').keyup(function (){
            $('#pt_address' , "div" ).empty();
            $('#pt_address').append("<div>"+document.getElementById("address").value+"</div>")});
    // ?
        $("#hpost_picture").change(function(){
            $('#submit_poster').trigger('click');
        });
   });  
//이미지저장+실시간입력 끝
    
    
//div 창 + 클래스 제거 
    // function remove_item(obj, del){ //remove_item(obj, #pt_title) 이런 식으로 사용해야함
    //     // obj.parentNode 를 이용하여 삭제
    //     var del;
    //   $(obj).remove();
    //     //div 제거될 때, class 값 제거
    
    //     $(del).removeClass('select');
    // }
    
    function remove_item(obj,del){
        var del;
        var d = document.getElementById('numb1');
        d.removeChild(document.getElementsByClassName('btm')[0]);
        //document.getElementById(field).removeChild('.btm');
        //obj= numb1 or numb2 or numb3 --> numb1의 자식 요소 중
        //document.getElementById('field').removeChild(obj.parentNode);  //remove_item('#field1','#pt_title') 로 사용했음 -> field1에 있는 
        $(del).removeClass('select'); //del = #poster, 뭐 이런것들!
        
    }



    function changeOption(x, y) { // x는 field 위치 (몇번째 항목인지) y는 포스터 항목
    var x; var y; 
    
    //1: div 생성
    // pre_set 에 있는 내용을 읽어와서 처리
        var div = document.createElement('div');
        $(div).addClass('btm');
        div.innerHTML = document.getElementById('pre_set').innerHTML;
        div.style.cssText = 'display: none;'
        $(x).append(div);
        $(div).slideToggle(1000,'swing');   
    
    
    //2: div생성되면서, y에 select 추가 (hover되면서 말고!)
        $(y).addClass('select');
        
    //3: 글자 옵션
    //3-1준비요소    
        var el = document.getElementsByClassName('select'); 
        var style = window.getComputedStyle(el[0], null).getPropertyValue('font-size');
        var size = parseFloat(style); 
    
        var select=$("div.select"); 
    
    //3-2크기변경
          $(".zoom button").on("click",function(){  // 글자 크기의 버튼들을 클릭했을 때 (폰트 크기)
              var btn_index=$(this).val();  //클릭한 버튼의 인덱스 반환
              if(btn_index=="btn_plus"){ //"+"를 클릭했을 경우
                 size++; //size가 1씩 증가
                 select.css("font-size",size+"px"); //글자 크기 속성이 변경됨. 
              }else if(btn_index=="btn_minus"){ //"-"를 클릭했을 경우
                 size--; //size가 1씩 감소
                 select.css("font-size",size+"px"); //글자 크기 속성이 변경됨.
              }else if(btn_index=="btn_default"){ //"0"를 클릭했을 경우
                 size=12; //디폴트로 다시 세팅
                 select.css("font-size","12px"); //글자 크기 속성이 12px로 변경됨.
              }
              $("#lbl_fontsize").text(size); //글자크기 출력
          });
          
    //3-3글꼴변경
          $("#fs").on("change",function(){       // 글자 모양을 선택했을 때 (폰트 변경)
            select.css("font-family",$(this).val()); //글자 모양 변경
          });
          
    //3-4색상
        
    };
    //changeOption 끝
    </script>
</head>

<!--onclick 시 생성되는 div!!-->
<div id="pre_set" class="bottom" style="display:none">
 확인 <%= render "option" %>
</div>

<!--화면구성요소 시작-->
<div class="parent">
  <div class="child">
      <header>
        <h1>Make Your Poster</h1>
      </header>
      
      <div class="input_form row">
          <div class="form-group box" id="numb1"> <!-- form group은 한 줄 / for inline은 같은 줄 -->
              <label class="sr-only" for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="Title" name="title" autocomplete="off">
              <input type="button" value=" 추가 " onclick="changeOption('#field1','#pt_title')">
              <input type="button" value=" 삭제 " onclick="remove_item(this,'#pt_title')"><br>
              <div id="field1"> <!-- 여기 생성되는 것 --> 
              </div>
          </div>
        
          <div class="form-group box" id="numb2">
              <label class="sr-only" for="detail">Detail</label>
              <textarea type="text" class="top form-control" id="detail" placeholder="Detail" name="detail" autocomplete="off"></textarea>
              <input type="button" value=" 추가2 " onclick="changeOption('#field2','#pt_detail')">
              <input type="button" value=" 삭제2" onclick="remove_item('numb2','#pt_detail')"><br>
              <div id="field2">  
              </div>
          </div>
          
          <div class="form-group box" id="numb3">
              <label class="sr-only" for="address">Address</label>
              <input type="text" class="top form-control" id="address" placeholder="Address" name="address" autocomplete="off">
              <input type="button" value=" 추가3" onclick="changeOption('#field3','#pt_address')">
              <input type="button" value=" 삭제3 " onclick="remove_item('numb3','#pt_address')"><br>              
              <div id="field3">
              </div>
          </div>
          
          <div class="form-group">
               <label class="sr-only" for="pic">pic</label>
                <%= simple_form_for @hpost,remote:true, html: {multipart: true} do |f| %>
                  <div class="field">
                      <%= f.input :picture, as: :file %>
                      <%= f.hidden_field :picture_cache %>
                  </div>
                <%= f.hidden_field :htmltag ,value:"",id:"htmltag" %>
                  <br>
                  <div class="actions">
                    <%= f.submit value:"헤헿" ,id:"submit_poster" %>
                  </div>
                <% end %>
           </div>
         
      </div> <!-- input_form row -->
  </div> <!-- child -->
    
  <!-- 오른쪽 poster -->
  <div class="child" id="here">
    <div class="poster" id="html-content-holder"> 
        <div id = "pt_title">
        </div>
        
        <div id = "pt_picture">
           <form runat="server">
            <img id="pt_picture_input" src="#"/>
           </form>
        </div>
          
        <div id = "pt_detail">
        </div>
        
        <div id = "pt_address">
        </div>
    </div>
  
    <a id="btn-Convert-Html2Image" href="#" >이미지 저장</a>
    <button type="submit" class="btn-EditSubmit">Submit</button>
  </div> <!-- child -->

</div>  <!-- parent / end -->

