<head>
  <!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- 이미지 변환/저장 -->
  <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script> 
  <!-- ? -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- textfill -->
  <script src="jquery.textfill.min.js"></script> 
  <!-- 폰트 색상 script--> 
  <script src="jscolor.js"></script>  
  
  <script>
  //폰트설정
      $(function(){
       //초기 설정
        
      
       var size=12;
       
       var select=$("div.select"); //class나 id값 이용해서 바꾸면 됨! 나중에 해결되면 selected로 바꾸면 됩니다!
    
        //① 글자 크기의 버튼들을 클릭했을 때
        $(".zoom button").on("click",function(){
            var btn_index=$(".zoom button").index(this);  //클릭한 버튼의 인덱스 반환
            
            if(btn_index==0){ //"+"를 클릭했을 경우
               size++; //size가 1씩 증가
               select.css("font-size",size+"px"); //글자 크기 속성이 변경됨. 
            }else if(btn_index==2){ //"-"를 클릭했을 경우
               size--; //size가 1씩 감소
               select.css("font-size",size+"px"); //글자 크기 속성이 변경됨.
            }else{ //"0"를 클릭했을 경우
               size=12; //디폴트로 다시 세팅
               select.css("font-size","12px"); //글자 크기 속성이 12px로 변경됨.
            }
            $("#lbl_fontsize").text(size); //글자크기 출력
        });
    
        //② 글자 모양을 선택했을 때 (폰트 변경)
        $("#fs").on("change",function(){
          select.css("font-family",$(this).val()); //글자 모양 변경
        });
     
      
  //bold underline italic 설정
      $(document).ready(function(){
          $('.boldText').click(function(){
             $('div.select').toggleClass("bold");
          });
          $('.italicText').click(function(){
            $('div.select').toggleClass("italic");
          });
          $('.underlineText').click(function(){
            $('div.select').toggleClass("underline");
          });
      });
      });
  
  //이미지저장 + 실시간입력
  $(document).ready(function(){

    //<!-- div 이미지로 변환 및 저장 script-->
    var element = $("#html-content-holder"); // global variable
    var getCanvas; // global variable
          html2canvas(element, {
             onrendered: function (canvas) {
                    $("#html_content_holder").append(canvas);
                    getCanvas = canvas;
                 }
             });
             
    	$("#btn-Convert-Html2Image").on('click', function () {
        var imageData = getCanvas.toDataURL("image/png");
        // Now browser starts downloading it instead of just showing it
        var newData = imageData.replace(/^data:image\/png/, "data:application/octet-stream");
        $("#btn-Convert-Html2Image").attr("download", "your_pic_name.png").attr("href", newData);
    	});


    //<!-- 실시간으로 input 값이 입력 되는 script -->
    
      $('#title').keyup(function (){
      $('#pt_title' , "div" ).empty();
      $('#pt_title').append("<div>"+document.getElementById("title").value+"</div>")});
      
      $('#detail').keyup(function (){
      $('#pt_detail' , "div" ).empty();
      $('#pt_detail').append("<div>"+document.getElementById("detail").value+"</div>")});
      
      $('#address').keyup(function (){
      $('#pt_address' , "div" ).empty();
      $('#pt_address').append("<div>"+document.getElementById("address").value+"</div>")});
  // ?
      $("#hpost_picture").change(function(){
        $('#submit_poster').trigger('click');
      });
   });  
    
  // 마우스 클릭 시, 그 흰화면 따락 뜸
      $(document).ready(function(){
    
        // run the currently selected effect
        function runEffectTitle() {
          var options = {};
          $( "#title_effect" ).toggle( "blind", options, 500 );
        };
        function runEffectDetail() {
          var options = {};
          $( "#detail_effect" ).toggle( "blind", options, 500 );
        };
        function runEffectAddress() {
          var options = {};
          $( "#address_effect" ).toggle( "blind", options, 500 );
        };
        
        
         $( "#title" ).on( "click", function() {runEffectTitle();});
         $( "#detail" ).on( "click", function() {runEffectDetail();});
         $( "#address" ).on( "click", function() {runEffectAddress();});
      });
    </script>
</head>



<div class="parent">
  <div class="child">
      <header>
        <h1>Make Your Poster</h1>
      </header>
      <div class="input_form row">
          <div class="form-group"> <!-- form group은 한 줄 / for inline은 같은 줄 -->
            <label class="sr-only" for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" name="title" autocomplete="off">
            <div id="title_effect"> 
                <div class="option" id="f_wrap">
                      <dl>
                          <dt>글자크기 (<span id="lbl_fontsize">12</span>px) </dt>
                              <dd class="zoom">
                                <button>+</button>
                                <button>X</button>
                                <button>-</button>
                              </dd>
                          <dt>글자모양</dt>
                              <dd class="f_style">
                                  <select name="fs" id="fs">
                                      <option value="dotum,'돋움',sans-serif">돋움</option>
                                      <option value="Nanum Brush Script, '나눔손글씨붓', serif">나눔손글씨붓</option>
                                      <option value="Nanum Pen Script, '나눔손글씨펜', serif">나눔손글씨펜</option>
                                      <option value="Nanum Myeongjo, '나눔명조', serif">나눔명조</option>
                                      <option value="Nanum Gothic, '나눔고딕', serif">나눔고딕</option>
                                      <option value="Sedgwick Ave, 'Sedgwick Ave', cursive">Sedgwick Ave</option>
                                      <option value="Acme, 'Acme', sans-serif">Acme</option>
                                      <option value="Godo, '고도', serif">고도</option>
                                      <option value="daehan, '대한체', serif">대한체</option>
                                  </select>
                              </dd>
                            
                            	<!-- 이건 백그라운드
                            	Color: <input class="jscolor" value="ab2567"> 
                            	-->
                          	<button class="jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'}">
                          	    Color
                          	</button>
                                <input id="chosen-value" value="000000">
                              	<script>
                                  	function setTextColor(picker) {
                                  		document.getElementsByClassName('select')[0].style.color = '#' + picker.toString()
                                  	}
                              	</script>
                            	
                          	<br>
                            	<!-- bold italic -->
                          	<input type="button" class="boldText" value="Bold">
                            <input type="button" class="italicText" value="Italic">
                            <input type="button" class="underlineText" value="Underline">
                      </dl>
                 </div> <!-- option 태그 닫음 -->
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="detail">Detail</label>
            <textarea type="text" class="form-control" id="detail" placeholder="Detail" name="detail" autocomplete="off"></textarea>
            <div id="detail_effect">
                <div class="option" id="f_wrap">
                      <dl>
                          <dt>글자크기 (<span id="lbl_fontsize">12</span>px) </dt>
                              <dd class="zoom">
                                <button>+</button>
                                <button>X</button>
                                <button>-</button>
                              </dd>
                          <dt>글자모양</dt>
                              <dd class="f_style">
                                  <select name="fs" id="fs">
                                      <option value="dotum,'돋움',sans-serif">돋움</option>
                                      <option value="Nanum Brush Script, '나눔손글씨붓', serif">나눔손글씨붓</option>
                                      <option value="Nanum Pen Script, '나눔손글씨펜', serif">나눔손글씨펜</option>
                                      <option value="Nanum Myeongjo, '나눔명조', serif">나눔명조</option>
                                      <option value="Nanum Gothic, '나눔고딕', serif">나눔고딕</option>
                                      <option value="Sedgwick Ave, 'Sedgwick Ave', cursive">Sedgwick Ave</option>
                                      <option value="Acme, 'Acme', sans-serif">Acme</option>
                                      <option value="Godo, '고도', serif">고도</option>
                                      <option value="daehan, '대한체', serif">대한체</option>
                                  </select>
                              </dd>
                            
                            	<!-- 이건 백그라운드
                            	Color: <input class="jscolor" value="ab2567"> 
                            	-->
                          	<button class="jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'}">
                          	    Color
                          	</button>
                                <input id="chosen-value" value="000000">
                              	<script>
                                  	function setTextColor(picker) {
                                  		document.getElementsByClassName('select')[0].style.color = '#' + picker.toString()
                                  	}
                              	</script>
                            	
                          	<br>
                            	<!-- bold italic -->
                          	<input type="button" class="boldText" value="Bold">
                            <input type="button" class="italicText" value="Italic">
                            <input type="button" class="underlineText" value="Underline">
                      </dl>
                 </div> <!-- option 태그 닫음 -->
            </div> <!-- detail effect 태그 -->
          </div> <!-- form group 태그 -->
          
          <div class="form-group">
            <label class="sr-only" for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Address" name="address">
            <div id="address_effect">
                <div class="option" id="f_wrap">
                      <dl>
                          <dt>글자크기 (<span id="lbl_fontsize">12</span>px) </dt>
                              <dd class="zoom">
                                <button>+</button>
                                <button>X</button>
                                <button>-</button>
                              </dd>
                          <dt>글자모양</dt>
                              <dd class="f_style">
                                  <select name="fs" id="fs">
                                      <option value="dotum,'돋움',sans-serif">돋움</option>
                                      <option value="Nanum Brush Script, '나눔손글씨붓', serif">나눔손글씨붓</option>
                                      <option value="Nanum Pen Script, '나눔손글씨펜', serif">나눔손글씨펜</option>
                                      <option value="Nanum Myeongjo, '나눔명조', serif">나눔명조</option>
                                      <option value="Nanum Gothic, '나눔고딕', serif">나눔고딕</option>
                                      <option value="Sedgwick Ave, 'Sedgwick Ave', cursive">Sedgwick Ave</option>
                                      <option value="Acme, 'Acme', sans-serif">Acme</option>
                                      <option value="Godo, '고도', serif">고도</option>
                                      <option value="daehan, '대한체', serif">대한체</option>
                                  </select>
                              </dd>
                            
                            	<!-- 이건 백그라운드
                            	Color: <input class="jscolor" value="ab2567"> 
                            	-->
                          	<button class="jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'}">
                          	    Color
                          	</button>
                                <input id="chosen-value" value="000000">
                              	<script>
                                  	function setTextColor(picker) {
                                  		document.getElementsByClassName('select')[0].style.color = '#' + picker.toString()
                                  	}
                              	</script>
                            	
                          	<br>
                            	<!-- bold italic -->
                          	<input type="button" class="boldText" value="Bold">
                            <input type="button" class="italicText" value="Italic">
                            <input type="button" class="underlineText" value="Underline">
                      </dl>
                 </div> <!-- option 태그 닫음 -->
            </div>
          </div>
          
          <div class="form-group">
             <label class="sr-only" for="pic">pic</label>
            <%= simple_form_for @hpost,remote:true, html: {multipart: true} do |f| %>
              <div class="field">
                  <%= f.input :picture, as: :file %>
                  <%= f.hidden_field :picture_cache %>
              </div>
              <%= f.hidden_field :htmltag ,value:"",id:"htmltag" %>
                <br>
                <div class="actions">
                  <%= f.submit value:"헤헿" ,id:"submit_poster" %>
                </div>
            <% end %>
         </div>
         
      </div> <!-- input_form row div 태그 닫음 -->
  </div> <!-- child 태그 닫음 -->
    
    

  <!-- 오른쪽 poster -->
  <div class="child" id="here">
    <div class="poster" id="html-content-holder"> 
        <div id = "pt_title">
        </div>
        
        <div id = "pt_picture">
           <form runat="server">
            <img id="pt_picture_input" src="#"/>
           </form>
        </div>
          
        <div id = "pt_detail">
        </div>
        
        <div class="select" id = "pt_address">
        </div>
    </div>
  
    <a id="btn-Convert-Html2Image" href="#" >이미지 저장</a>
    <button type="submit" class="btn-EditSubmit">Submit</button>
  </div> <!-- child 태그 닫음 -->

</div>  <!-- 전체 parent 태그 -->

