<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<div class="parent">
    
    <div class="child">
        <header>
            <h1>Makeddddddd Your </h1>
        </header>

        <div class="input_form row" id="in_here">
            
            <div class="form-group">
                <label class="sr-only" for="pic">pic</label>
                <%= simple_form_for @hpost,remote:true, html: {multipart: true} do |f| %>
                    <div class="field">
                        <%= f.input :picture, as: :file %>
                        <%= f.hidden_field :picture_cache %>
                    </div>
                <%= f.hidden_field :htmltag ,value:"",id:"htmltag" %>
                    <br>
                    <div class="actions">
                        <%= f.submit id:"submit_poster" %>
                    </div>
                    <a href="/hposts/<%=@hpost.id%>">완 료</a>
                <% end %>
            </div>
        </div>
    </div>
    
  <!-- 오른쪽 poster -->
  <!--여기에 디비에 있는 html tag를 넣을꺼임-->
  <div class="child" id="here"></div>

</div>


<script>
    //일단 html 태그 넣으시고요
    
     var tag = "<%=escape_javascript(@hpost.htmltag)%>";
    
     $("#here").html(tag.replace(/&lt;/gi,"<").replace(/&gt;/gi,">").replace(/&quot;/gi,"\""));
    
    //그다음은 이미지 넣으시고요
    
    $('#pt_picture_input').attr('src','<%=@hpost.picture.url%>');
    
    //그다음 html 태그 로부터 텍스트 컨텐츠가 몇개 있는지 확인 하시고요~~~~~~~~~~~~~
    
    //그 갯수만큼 반복문 돌려서 왼쪽에 인풋태그 넣으시고요
    
    
    // var ss="<#%=render "option"%>";
    for(var i=0;i < <%=@text_contents_count%>;i++){
    //이벤트 연결을 인덱스로해야하나 아니면 그냥 .... 클래스명으로해야하나 ..하. 
    //이렇게 인풋 먼저 만들어줘야함
          $("#in_here").prepend("<%=escape_javascript(render "option")%>");
    }
    
    //일단 키업이벤트를 인덱스로 받아온다면???
    <%for ind in 0...@text_contents_count%>
    target=$('.text_content:eq(<%=ind%>)');
        $('.text_input:eq(<%=ind%>)').val($('.text_content:eq(<%=ind%>)').text())
        $('.text_input:eq(<%=ind%>)').keyup(function(){
            target=$('.text_content:eq(<%=ind%>)');
            target.empty();
            target.append("<div>"+$(".text_input:eq(<%=ind%>)").val()+"</div>");
        });
        
        $(".input_option:eq(<%=ind%>) button").on("click",function(){
            
            target=$('.text_content:eq(<%=ind%>)');
            switch (this.value) {
                case "btn_plus"     : target.css("font-size", target.css("font-size").replace(/px/g, '')*1+1+"px");break;
                case "btn_minus"    : target.css("font-size", target.css("font-size").replace(/px/g, '')*1-1+"px");break;
                case "btn_default"  : target.css("font-size","12px");break;
                case "Bold"         : 
                    if (target.css("font-weight")=="bold")
                        target.css("font-weight","");
                    else 
                        target.css("font-weight","bold");
                    break;
                case "Italic"       : 
                    if(target.css("font-style")=="italic")
                        target.css("font-style","");
                    else
                        target.css("font-style","italic");
                    break;
                case "Underline"    :
                    if( target.css("text-decoration").match('underline')=='underline')
                        target.css("text-decoration","none");
                    else
                        target.css("text-decoration","underline");
                    break;
                default             : alert("유효하지않은 작업");break;
            }
            
         
            $(".input_option:eq(<%=ind%>) .lbl_fontsize").text(target.css("font-size"))//글자크기 출력
        });
        
        $(".input_option:eq(<%=ind%>) .fs").on("change",function(){
          target.css("font-family",$(this).val()); //글자 모양 변경
        });
        
        
        
    <%end%>
    
     
      $("body").mousedown(function(){    
        $("#htmltag").val($("#here").html())
      });
      
  
    $("#hpost_picture").change(function(){
      $('#submit_poster').trigger('click');
    });

</script>