<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<style>
    .text_content{
        z-index:1;
    }
</style>
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <header>
            <h1>Make Your Poster</h1>
        </header>
        
        <div class="input_form row" id="in_here">
            
            <!--<div class="form-group">-->

                <label class="sr-only" for="pic">pic</label>
                
                <%= simple_form_for @hpost,remote:true, html: {multipart: true} do |f| %>
                
                    <div class="field">
                        
                        <%= f.input :picture, as: :file %>
                        
                        <%= f.hidden_field :picture_cache %>
                        
                    </div>
                    
                <%= f.hidden_field :htmltag ,value:"",id:"htmltag" %>
                
                    <br>
                    
                    <div class="actions">
                        
                        <%= f.submit id:"submit_poster" %>
                        
                    </div>
                    
                    <a href="/hposts/<%=@hpost.id%>">완 료</a>
                    
                <% end %>
                
            <!--</div>-->
        </div>
    </div>
    
     <div class="col-md-1"></div>     <!-- 간격 맞추기용 -->
  <!-- 오른쪽 poster -->
  <!--여기에 디비에 있는 html tag를 넣을꺼임-->
  <div class="col-md-5 col-sm-12" id="here"></div>

</div>


<script>
    //일단 html 태그 
     var tag = "<%=escape_javascript(@hpost.htmltag)%>";
     $("#here").html(tag.replace(/&lt;/gi,"<").replace(/&gt;/gi,">").replace(/&quot;/gi,"\""));
    
    
    //그다음은 이미지 넣으시고요
    $('#pt_picture_input').attr('src','<%=@hpost.picture.url%>').css("z-index","-99");
    
    
    //그다음 html 태그 로부터 텍스트 컨텐츠가 몇개 있는지 확인 하시고
    //늕 그냥 컨트롤러에서 처리함
    for(var i=0;i < <%=@text_contents_count%>;i++){
    //이렇게 인풋 먼저 text contents만큼 만듬
          $("#in_here").prepend("<%=escape_javascript(render "option")%>");
          
    }
    
    //////////////////////////////////////////////////////////////////////////////////////////
   $("#in_here").prepend("<%=escape_javascript(render "background")%>");
   
        $(".input_bg .toggle_sw").on("click",function(){
            switch (this.value) {
               
                case "toggle_sw": $(".background").toggle("blind",1000)
                        if($(".input_bg .toggle_sw").html()=="+")
                            $(".input_bg .toggle_sw").html("-")

                        else
                            $(".input_bg .toggle_sw").html("+")
                                
                break;
            }
        });
    ///////////////////////background options////////////////////////////////////////////////////////////////////
    
    <%for ind in 0...@text_contents_count%>
    
        target=$('.text_content:eq(<%=ind%>)');//자주쓰니까 변수에넣음
        
        
        //오른쪽에 있는 text_content의 내용을 일단 왼쪽에 인풋 기본 베이직 값으로 넣어준는거임
        $('.text_input:eq(<%=ind%>)').val(target.text())
        
        //키업 이벤트 발생시 오른쪽에 ㅇㅇ
        $('.text_input:eq(<%=ind%>)').keyup(function(){
            target=$('.text_content:eq(<%=ind%>)');
            target.empty();
            target.append("<div>"+$(".text_input:eq(<%=ind%>)").val()+"</div>");
        });
        
        $(".input_option:eq(<%=ind%>) button").on("click",function(){
            
            target=$('.text_content:eq(<%=ind%>)');
            switch (this.value) {
                // case "btn_plus"     : target.css("font-size", target.css("font-size").replace(/px/g, '')*1+1+"px");break;
                // case "btn_minus"    : target.css("font-size", target.css("font-size").replace(/px/g, '')*1-1+"px");break;
                // case "btn_default"  : target.css("font-size","12px");break;
                case "Bold"         : 
                    if (target.css("font-weight")=="bold"){
                        target.css("font-weight","");
                        this.style.backgroundColor = "#333"
                        }
                    else{
                        target.css("font-weight","bold");
                        this.style.backgroundColor="#ba7276"
                       }
                    break;
                case "Italic"       : 
                    if(target.css("font-style")=="italic"){
                        target.css("font-style","");
                        this.style.backgroundColor = "#333"
                       }
                    else{
                        target.css("font-style","italic");
                        this.style.backgroundColor = "#ba7276"
                       }
                    break;
                case "Underline"    :
                    if( target.css("text-decoration").match('underline')=='underline'){
                        target.css("text-decoration","none");
                        this.style.backgroundColor = "#333"
                        }
                    else{
                        target.css("text-decoration","underline");
                        this.style.backgroundColor = "#ba7276"
                       }
                    break;
                    case "toggle_sw": $(".option:eq(<%=ind%>)").toggle("blind",1000)
                        if($(".input_option:eq(<%=ind%>) .toggle_sw").html()=="+")
                            $(".input_option:eq(<%=ind%>) .toggle_sw").html("-")
                        else
                            $(".input_option:eq(<%=ind%>) .toggle_sw").html("+")
                                
                break;

            }
         
         
        });
        
        $(".input_option:eq(<%=ind%>) .slider").on("slide",function(){
            target=$('.text_content:eq(<%=ind%>)');
            target.css("font-size", $(".input_option:eq(<%=ind%>) .slider").slider("option","value")+"px");
            $(".input_option:eq(<%=ind%>) .lbl_fontsize").text(target.css("font-size"))
        })
        
        $(".input_option:eq(<%=ind%>) .fs").on("selectmenuchange",function(){
          target=$('.text_content:eq(<%=ind%>)');
          target.css("font-family",$(this).val()); //글자 모양 변경
        });
        
        
        //색상
        
    <%end%>
    
     $( function jquery_ui_apply() {
        $("button").button();
        
        $( ".slider" ).slider({
            animate:"fast"
        });
        $(".fs").selectmenu();
        
        
      } );
    
     
    $("body").mousedown(function(){    
        $("#htmltag").val($("#here").html())
    });
      
  
    $("#hpost_picture").change(function(){
      $('#submit_poster').trigger('click');
    });


    $(document).ready(function() {

    	// 기존 css에서 플로팅 배너 위치(top)값을 가져와 저장한다.
    	var floatPosition = parseInt($("#html-content-holder").css('top'));
    	// 250px 이런식으로 가져오므로 여기서 숫자만 가져온다. parseInt( 값 );
        
    	$(window).scroll(function() {
    		// 현재 스크롤 위치를 가져온다.
    		var scrollTop = $(window).scrollTop();
    		var newPosition = scrollTop + floatPosition + "px";

    		/* 애니메이션 없이 바로 따라감
    		 $("#floatMenu").css('top', newPosition);
    		 */
    		 
    
    		$("#html-content-holder").stop().animate({
    			"top" : newPosition
    		}, 500);
    
    	}).scroll();

});
</script>