<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<style>
    .text_content{
        z-index:1;
    }
</style>
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <header>
            <h1>Make Your Poster</h1>
        </header>
        
        <div class="input_form row" id="in_here">
            
            <!--<div class="form-group">-->

                <label class="sr-only" for="pic">pic</label>
                
                <%= simple_form_for @hpost,remote:true, html: {multipart: true} do |f| %>
                
                    <div class="field">
                        
                        <%= f.input :picture, as: :file %>
                        
                        <%= f.hidden_field :picture_cache %>
                        
                    </div>
                    
                <%= f.hidden_field :htmltag ,value:"",id:"htmltag" %><br>
                    
                    <div class="actions">
                        <%= f.submit id:"submit_poster" %>
                    </div>
                    
                    <a href="/hposts/<%=@hpost.id%>">완 료</a>
                    
                <% end %>
                
            <!--</div>-->
        </div>
    </div>
    
     <div class="col-md-2"></div>     <!-- 간격 맞추기용 -->
  <!-- 오른쪽 poster -->
 
  
  <!--여기에 디비에 있는 html tag를 넣을꺼임-->
  <div class="col-md-4 col-sm-12" id="here" >
     <div class = "poster" id = "html-content-holder"  style="width:100%; border:1px solid #191919; background-color:black;"> 
          
                  <!--<h2 style="-->
                  <!--            font-size: 100px;-->
                  <!--            text-shadow: 0px 0px 3px #eee, 5px 5px 2px teal, -5px -2px 2px mix(black,red,50);-->
                  <!--            -webkit-text-shadow: 0px 0px 3px #eee, 5px 5px 2px teal, -5px -2px 2px mix(black,red,50);-->
                  <!--            font-weight: 400;">GLITCHY</h2>-->
                  
            <span class="text_content" style="font-family:Give You Glory, cursive; font-weiht: bold; 
                                            text-shadow: 0px 0px 3px #eee, 5px 5px 2px #008080, -5px -2px 2px #a0291e;
                                            font-size:6rem;">HORROR MAZE</span>
                                            
           <span class="text_content" style="font-family: 'Just Me Again Down Here', cursive;
                                   color:#3d0702;
                                font-size:6rem;">! WARNING !</span>                                
                                            
            <img src="https://i.ytimg.com/vi/URumfeL5r7s/maxresdefault.jpg" style="width:100%; height:400px;">
            
            <span class="text_content" style="font-family:'Just Me Again Down Here', cursive; text-align:center;
                                               color:#a81103;
                                            font-size:4rem;">STARTS<br>10th SEP 2017<br>every friday night</span>
                                            
            <span class="text_content" style="font-family:Naum Gothic; text-align:center;
                                               color:#b5b5b5;
                                            font-size:2rem;">SMOKE FREE EVENT / ALCOHOL FREE / NIGHT DOOR SALES AVAILABLE</span>                                            
            
 
      </div>


     
                <!--<span class="text_content" style="position: absolute; color: #000000; font-weight: bold; font-family: 'Armata', sans-serif; top: 100px;">-->
                <!--    COME DIRECTLY TO THE<br>-->
                <!--    WAREHOUSE OR OUTLET<br>   text-shadow: 0px 0px 3px #eee, 5px 5px 2px #008080, -5px -2px 2px #a0291e;  -->
                <!--</span>-->
                <!--<span class="text_content" style="position: absolute; color: #000000; font-family: 'Armata', sans-serif; font-size: 1.5rem; top: 200px;">-->
                <!--    02)000-0000-->
                <!--</span>-->
            
   </div>



<script>

   
    //그다음 html 태그 로부터 텍스트 컨텐츠가 몇개 있는지 확인 하시고
    //늕 그냥 컨트롤러에서 처리함
    for(var i=0;i < 5;i++){
    //이렇게 인풋 먼저 text contents만큼 만듬
          $("#in_here").prepend("<%=escape_javascript(render "option")%>");
          
    }

     <%for ind in 0...5%>
    
        target=$('.text_content:eq(<%=ind%>)');//자주쓰니까 변수에넣음
        
        
        //오른쪽에 있는 text_content의 내용을 일단 왼쪽에 인풋 기본 베이직 값으로 넣어준는거임
        $('.text_input:eq(<%=ind%>)').val(target.text())
        
        //키업 이벤트 발생시 오른쪽에 ㅇㅇ
        $('.text_input:eq(<%=ind%>)').keyup(function(){
            target=$('.text_content:eq(<%=ind%>)');
            target.empty();
            target.append("<div>"+$(".text_input:eq(<%=ind%>)").val()+"</div>");
        });
        
        $(".input_option:eq(<%=ind%>) button").on("click",function(){
            
            target=$('.text_content:eq(<%=ind%>)');
            switch (this.value) {
                // case "btn_plus"     : target.css("font-size", target.css("font-size").replace(/px/g, '')*1+1+"px");break;
                // case "btn_minus"    : target.css("font-size", target.css("font-size").replace(/px/g, '')*1-1+"px");break;
                // case "btn_default"  : target.css("font-size","12px");break;
                case "Bold"         : 
                    if (target.css("font-weight")=="bold"){
                        target.css("font-weight","");
                        this.style.backgroundColor = "#333"
                        }
                    else{
                        target.css("font-weight","bold");
                        this.style.backgroundColor="#ba7276"
                       }
                    break;
                case "Italic"       : 
                    if(target.css("font-style")=="italic"){
                        target.css("font-style","");
                        this.style.backgroundColor = "#333"
                       }
                    else{
                        target.css("font-style","italic");
                        this.style.backgroundColor = "#ba7276"
                       }
                    break;
                case "Underline"    :
                    if( target.css("text-decoration").match('underline')=='underline'){
                        target.css("text-decoration","none");
                        this.style.backgroundColor = "#333"
                        }
                    else{
                        target.css("text-decoration","underline");
                        this.style.backgroundColor = "#ba7276"
                       }
                    break;
                    case "toggle_sw": $(".option:eq(<%=ind%>)").toggle("blind",1000)
                        if($(".input_option:eq(<%=ind%>) .toggle_sw").html()=="+")
                            $(".input_option:eq(<%=ind%>) .toggle_sw").html("-")
                        else
                            $(".input_option:eq(<%=ind%>) .toggle_sw").html("+")
                                
                break;

            }
         
         
        });
        
        $(".input_option:eq(<%=ind%>) .slider").on("slide",function(){
            target=$('.text_content:eq(<%=ind%>)');
            target.css("font-size", $(".input_option:eq(<%=ind%>) .slider").slider("option","value")+"px");
            $(".input_option:eq(<%=ind%>) .lbl_fontsize").text(target.css("font-size"))
        })
        
        $(".input_option:eq(<%=ind%>) .fs").on("selectmenuchange",function(){
          target=$('.text_content:eq(<%=ind%>)');
          target.css("font-family",$(this).val()); //글자 모양 변경
        });
        
        
        //색상
        
    <%end%>
    
    
     $( function jquery_ui_apply() {
        $("button").button();
        
        $( ".slider" ).slider({
            animate:"fast"
        });
        $(".fs").selectmenu();
        $(".option").toggle();
        
      } );
    
     
    $("body").mousedown(function(){    
        $("#htmltag").val($("#here").html())
    });
      
  
    $("#hpost_picture").change(function(){
      $('#submit_poster').trigger('click');
    });
    $("span").draggable();

    function setBodyColor(jscolor) {

    document.getElementById('html-content-holder').style.backgroundImage = 'linear-gradient(#FFFFFF, #' + jscolor + ')';
    
    }
    
    // $( function() {
    // $( ".text_content" ).draggable({ containment: "#html-content-holder", scroll: false });
    // $( "#pt_picture" ).draggable({ containment: "#html-content-holder", scroll: false });
    // //$( "#pt_picture" ).resizable({ghost: true});
//   })
</script>