
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="parent">
     <div class="child">
        <header>
            <h1>Make Your Poster</h1>
        </header>
        
        Background Color :
        <button class="roundbt jscolor {valueElement:'chosen-value', onFineChange:'setBodyColor(this)'}"> </button>
     
     
        <div class="input_form row" id="in_here">
            
            <div class="form-group">
                
                <label class="sr-only" for="pic">pic</label>
                
                <%= simple_form_for @hpost,remote:true, html: {multipart: true} do |f| %>
                
                    <div class="field">
                        
                        <%= f.input :picture, as: :file %>
                        
                        <%= f.hidden_field :picture_cache %>
                        
                    </div>
                    
                <%= f.hidden_field :htmltag ,value:"",id:"htmltag" %>
                
                    <br>
                    
                    <div class="actions">
                        
                        <%= f.submit id:"submit_poster" %>
                        
                    </div>
                    
                    <a href="/hposts/<%=@hpost.id%>">완 료</a>
                    
                <% end %>
                
            </div>
            
        </div>
        
    </div>
    
    

  <!-- 오른쪽 poster -->
    <div class="child" id="here">
        <div class = "poster" id = "html-content-holder" style = "background-image: url('/assets/list_img/brown.jpg'), url('/assets/list_img/box.png'); background-size: 100% 100%; background-repeat: no-repeat;">
            <span class="text_content" style="position: relative; font-size: 8rem; top: 30px; text-align: left; left: 10px;">취미생활</span>
            <span class="text_content" style="position: relative; font-size: 8rem; top: 30px; text-align: left; left: 10px;">Enjoy your life</span>
            <span class="text_content" style="position: relative; font-size: 8rem; top: 30px; text-align: left; left: 10px;">먹고 그리고 꽃피워라</span>            
            <span style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                                                                           
            </span>
            <br>
            <span class="text_content" style="">쿠킹/플라워/드로잉 작업실 오픈기념 플리마켓</span>
            <span style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                                                                           
            </span>   
                <span class="text_content" id="title" style="position: relative; width: 400px;
                                                            font-family: 'Nanum Gothic', cursive;
                                                            font-size: 10rem;
                                                            height: auto;
                                                            border:0;
                                                            left:59px;
                                                            top: 10px;
                                                            text-align:left;
                                                            background:transparent;">
                    Pony<br>Film<br>Festival<br>
                </span>
                    <span class="text_content" style="font-size: 3rem; font-family: 'Allan', cursive; ">
                        Play On Neverending Youth
                    </span>
                    <span class = "text_content" style = "top : 16px;">
                        일시: 2017년 8월 30일 (수) 오후 2시
                    </span>
                    <br>
                    <span class = "text_content">
                        장소: 한국영화진흥위원회
                    </span>
                    <br>
                        <img src="../logo1.PNG" style="width:170px; height:40px;">
                        <img src="../logo2.PNG" style="width:150px; height:40px;">
                        <img src="../logo3.jpg" style="width:150px; height:40px;">
                        <img src="../logo4.jpg" style="width:200px; height:40px;">
        </div>
    </div>
</div>
<a id="btn-Convert-Html2Image" href="#" ></a>

<script>

   
    //그다음 html 태그 로부터 텍스트 컨텐츠가 몇개 있는지 확인 하시고
    //늕 그냥 컨트롤러에서 처리함
    for(var i=0;i < 5;i++){
    //이렇게 인풋 먼저 text contents만큼 만듬
          $("#in_here").prepend("<%=escape_javascript(render "option")%>");
          
    }

     <%for ind in 0...5%>
    
        target=$('.text_content:eq(<%=ind%>)');//자주쓰니까 변수에넣음
        
        
        //오른쪽에 있는 text_content의 내용을 일단 왼쪽에 인풋 기본 베이직 값으로 넣어준는거임
        $('.text_input:eq(<%=ind%>)').val(target.text())
        
        //키업 이벤트 발생시 오른쪽에 ㅇㅇ
        $('.text_input:eq(<%=ind%>)').keyup(function(){
            target=$('.text_content:eq(<%=ind%>)');
            target.empty();
            target.append("<div>"+$(".text_input:eq(<%=ind%>)").val()+"</div>");
        });
        
        $(".input_option:eq(<%=ind%>) button").on("click",function(){
            
            target=$('.text_content:eq(<%=ind%>)');
            switch (this.value) {
                // case "btn_plus"     : target.css("font-size", target.css("font-size").replace(/px/g, '')*1+1+"px");break;
                // case "btn_minus"    : target.css("font-size", target.css("font-size").replace(/px/g, '')*1-1+"px");break;
                // case "btn_default"  : target.css("font-size","12px");break;
                case "Bold"         : 
                    if (target.css("font-weight")=="bold"){
                        target.css("font-weight","");
                        this.style.backgroundColor = "#333"
                        }
                    else{
                        target.css("font-weight","bold");
                        this.style.backgroundColor="#ba7276"
                       }
                    break;
                case "Italic"       : 
                    if(target.css("font-style")=="italic"){
                        target.css("font-style","");
                        this.style.backgroundColor = "#333"
                       }
                    else{
                        target.css("font-style","italic");
                        this.style.backgroundColor = "#ba7276"
                       }
                    break;
                case "Underline"    :
                    if( target.css("text-decoration").match('underline')=='underline'){
                        target.css("text-decoration","none");
                        this.style.backgroundColor = "#333"
                        }
                    else{
                        target.css("text-decoration","underline");
                        this.style.backgroundColor = "#ba7276"
                       }
                    break;
                    case "toggle_sw": $(".option:eq(<%=ind%>)").toggle("blind",1000)
                        if($(".input_option:eq(<%=ind%>) .toggle_sw").html()=="+")
                            $(".input_option:eq(<%=ind%>) .toggle_sw").html("-")
                        else
                            $(".input_option:eq(<%=ind%>) .toggle_sw").html("+")
                                
                break;

            }
         
         
        });
        
        $(".input_option:eq(<%=ind%>) .slider").on("slide",function(){
            target=$('.text_content:eq(<%=ind%>)');
            target.css("font-size", $(".input_option:eq(<%=ind%>) .slider").slider("option","value")+"px");
            $(".input_option:eq(<%=ind%>) .lbl_fontsize").text(target.css("font-size"))
        })
        
        $(".input_option:eq(<%=ind%>) .fs").on("selectmenuchange",function(){
          target=$('.text_content:eq(<%=ind%>)');
          target.css("font-family",$(this).val()); //글자 모양 변경
        });
        
        
        //색상
        
    <%end%>
    
    
     $( function jquery_ui_apply() {
        $("button").button();
        
        $( ".slider" ).slider({
            animate:"fast"
        });
        $(".fs").selectmenu();
        $(".option").toggle();
        
      } );
    
     
    $("body").mousedown(function(){    
        $("#htmltag").val($("#here").html())
    });
      
  
    $("#hpost_picture").change(function(){
      $('#submit_poster').trigger('click');
    });
    $("span").draggable();

    function setBodyColor(jscolor) {

    document.getElementById('html-content-holder').style.backgroundImage = 'linear-gradient(#FFFFFF, #' + jscolor + ')';
    
    }
    
    // $( function() {
    // $( ".text_content" ).draggable({ containment: "#html-content-holder", scroll: false });
    // $( "#pt_picture" ).draggable({ containment: "#html-content-holder", scroll: false });
    // //$( "#pt_picture" ).resizable({ghost: true});
//   })
</script>